@model IEnumerable<MEDMcKelvy.Models.Supplies>

@{
    ViewBag.Title = "Supplies";
   
        
}

<h2>Supplies</h2>

<p>
</p>
@*<table>*@
<table id="hor-minimalist-a" summary="Supplies">


    <tr>
        <th>
            Name
        </th>
        <th>
           Description
        </th>
        <th>
            Quantity on hand
        </th>
        <th>
            Reorder URL
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.S_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.S_Desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.S_QOH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.S_URL)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.S_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.S_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.S_ID })
        </td>
    </tr>
}

</table>
<h2>
@Html.ActionLink("Add to supplies","Create")
    </h2>