@model MEDMcKelvy.Models.Technology

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Technology</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.T_Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.T_Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.T_Desc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.T_Desc)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.T_QOH)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.T_QOH)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.T_URL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.T_URL)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
